@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg font-medium leading-6 font-Poppins text-brand-darkblue-700;
  }

  h2 {
    @apply text-xl leading-normal font-bold text-brand-darkblue-700 xs:text-2xl sm:text-3xl;
  }
}

@layer components {
  /* buttons */
  .btn {
    @apply px-6 py-2.5 text-base xs:text-lg;
  }

  .btn img {
    @apply size-5 xs:size-6;
  }

  .btn-primary {
    @apply btn bg-brand-violet-500 rounded-full text-white transition-colors hover:bg-brand-violet-500/80;
  }

  .btn-secondary {
    @apply btn flex items-center justify-center gap-3.5 w-max h-11 rounded-full border border-brand-darkblue-300/15 transition-colors hover:bg-brand-violet-200 xs:h-12;
  }

  /* divider */
  .divider {
    @apply w-full h-0.5 bg-brand-darkblue-300/5;
  }

  /* header */
  .header-nav-link {
    @apply flex items-center justify-normal gap-2 relative py-3 lg:justify-center;
  }

  .header-nav-link.active {
    @apply text-brand-violet-500 lg:text-inherit;
  }

  .header-nav-link::after {
    content: "";
    transition: background-color 0.15s ease, width 0.15s ease;
    @apply hidden absolute -bottom-4 w-0 h-0.5 bg-transparent lg:inline-block;
  }

  .header-nav-link.active::after {
    @apply w-full bg-brand-violet-500;
  }

  .header-nav-link:hover::after:not(.active) {
    @apply w-full bg-brand-violet-500/20;
  }

  /* header dropdown */
  header .dropdown-content {
    @apply hidden absolute top-full left-0 z-10 min-w-max bg-white p-1.5 rounded-xl border border-brand-darkblue-300/15;
  }

  header .dropdown-item {
    @apply flex items-center justify-between w-full py-2 px-3 rounded-lg transition-colors hover:bg-brand-darkblue-300/5;
  }

  /* header responsive navbar menu item */
  .header-responsive-navbar-menu-item {
    @apply flex items-center gap-2 relative w-full py-3;
  }

  .header-responsive-navbar-menu-item::before {
    @apply inline-block w-3.5 bg-brand-darkblue-300/15;
    content: "";
    height: 1px;
  }

  /* sections initial styles */
  .section-content {
    @apply space-y-10;
  }

  .section-header {
    @apply flex items-end justify-between gap-5;
  }

  .section-header-details {
    @apply space-y-3 xs:space-y-4;
  }

  .section-header-details p {
    @apply text-base text-brand-darkblue-300 xs:text-lg;
  }

  .card-shadow {
    @apply absolute bottom-0 inset-x-0 w-full h-32 bg-gradient-to-b from-transparent to-black;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl w-full mx-auto px-4 sm:px-5;
  }
}
